
# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Auto-Doc
.autodoc/logs
.autodoc/config.backup.yaml
.autodoc/config.yaml


# Distribution / builds
*.egg-info/
dist/
build/
